body {
    background-image: url("/pics/rail.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;

    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #007bff;
}

.main {
    display: flex;
    margin: 20px;
    padding: 20px;
}
.para h1{
    color: #010101;
    text-align: center;
    background-color: #04040411;
    text-decoration:none;
     
    
}
.para p{
    color: #ad0cec;
    background: linear-gradient(135deg, #8bc2c781, #0708037f);
}

.form-container {
    background-color: rgba(253, 253, 253, 0.692);
    border-radius: 10px;
    padding: 40px;
    margin:25px;
    box-shadow: 0 0 50px rgba(3, 8, 0, 0.811);
     text-align:center;
     align-items: center;
    /*
    width: 350px;
    position:fixed;
    top: 50%;
    left: 50%;
     */
     width:25%;
     height:auto;
     display:flex;
     flex-direction:row;
     flex-wrap: wrap;
     justify-content:space-between;
    /* transform:translate(-50% , -50%); */
    transform: translateY(2%);
}
/* .login-form a:hover{
    color:#30e257;
   } */
   
   .input-container {
       margin: 10px 0;
       text-align: left;
   }
   
   label {
       display: block;
       font-weight: bold;
       color: #353535;
   }
   
   input {
       width: 100%;
       padding: 10px;
       border: 1px solid #8a76ba;
       border-radius: 5px;
       background-color: #f1f1f1;
       font-weight:900; /* Apply bold font to input text */
   }
   
   button {
       width: 50%;
       padding: 10px;
       background: linear-gradient(135deg, #32d2e1, #a7dd1f);
       color: #000000;
       border: none;
       border-radius: 5px;
       font-weight: bold;
       cursor: pointer;
       transition: background 0.11s;
   }
   
   button:hover {
       background: linear-gradient(135deg, #205c82, #d42ad1);
   }
   
   /* Add hover effect for input fields */
   input:hover, input:focus {
       background-color: #fffffff9;
   }
   

.right-div {
    flex: 1;
    margin-left: 20px;
}

.additional-div {
    /* Styling for the additional divs at the bottom */
}

footer {
    /* Footer styling */
}

.search-container{
    position: relative;
}
.search-result{
    position: absolute;
    background: white;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(128, 128, 128);
    display: none;
}
.show{
    display: block;
}