<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet"  th:href="@{/css/login.css}"/>
</head>
<body>
<div class="heading"> <h1>Welcome To Indian Railway !</h1></div>
<div class="login-container">
    <form class="login-form" method="post" th:action="@{/login}">
        <h1>Login</h1>
        <div class="input-container">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-container">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>

    </form> <h3>Not yet register ? <a th:href="@{/signup}">Register here</a>
</h3>
</div>
</body>
</html>
